.challenge-container {
    width: 415px;
    height: 315px;
    padding: 10px;
    border-style : solid;
    background-color: rgb(0, 0, 0);
    border-color : rgb(0, 0, 255);
    border-width : 3px;
    animation: boosterAnimation 5s infinite;
}

.boosterChallenge {
    font-size: 14px
}


@keyframes boosterAnimation {
    25%, 50% {
        color: rgb(0, 132, 255)
    }
    75%, 100%, 0% {
        color: rgb(255, 165, 0)
    }
}